.SideBarOverLay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.SideBarOverLay.visible {
  opacity: 1;
}

.SideBar {
  position: fixed;
  top: 0;
  left: -250px; /* Hidden state */
  height: 100%;
  width: 250px;
  background-color: white;
  padding-top: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.2s ease-in-out;
}

.SideBar.visible {
  left: 0; /* Visible state */
}

.SideBarItems {
  padding: 10px;
  text-align: center;
}
.SideBarItems p {
  cursor: pointer;
}
